.small-3.large-3.columns
  - if badge.status == 'accepted'
    .green= badge.status_with_date
  - elsif badge.status == 'proposed'
    .blue= badge.status_with_date
  - elsif badge.status == 'draft'
    .red= badge.status_with_date
  
.small-9.large-9.columns
  = link_to badge.name_with_focus, badge
  = render 'badges/actions', badge: badge
