.small-2.large-2.columns
  = link_to badge.status.try(:capitalize), edit_badge_path(badge)
.small-10.large-10.columns
  = link_to badge.name_with_focus, badge
  - if librarian_or_admin?
    —
    = link_to 'Edit', edit_badge_path(badge)
    = link_to 'Destroy', badge, method: :delete, data: { confirm: 'Are you sure you want to permanently delete this Badge?' }
  - if badge.has_focus?  
    —
    = link_to 'Duplicate With New Focus', new_badge_path(template_id: badge.id)
