%ul.no-bullet.inline-list.toobig
  %li.badge19-initial.box= render 'card', badge: badge
  - unless badge.level_1 == ''
    %li.badge19= "Level 1: #{badge.level_1}"
  - unless badge.level_2 == ''
    %li.badge19= "Level 2: #{badge.level_2}"
  - unless badge.level_3 == ''
    %li.badge19= "Level 3: #{badge.level_3}"
  - unless badge.level_4 == ''
    %li.badge19= "Level 4: #{badge.level_4}"
  - unless badge.level_5 == ''
    %li.badge19= "Level 5: #{badge.level_5}"
  - unless badge.level_6 == ''
    %li.badge19= "Level 6: #{badge.level_6}"
  - unless badge.level_7 == ''
    %li.badge19= "Level 7: #{badge.level_7}"
  - unless badge.level_8 == ''
    %li.badge19= "Level 8: #{badge.level_8}"
  - unless badge.level_9 == ''
    %li.badge19= "Level 9: #{badge.level_9}"
%hr