= simple_form_for(@badge) do |f|
  = f.error_notification

  .form-inputs
    =# f.association :proposer, label_method: :short, include_blank: true
    = f.input :name, label: 'Badge Name'
    = f.input :description, label: 'Basic Badge Description'
    - if user_signed_in? && (current_user.is_librarian? || current_user.is_admin?)
      = f.input :status, collection: [['Draft', 'draft'], ['Proposed', 'proposed'], ['Accepted', 'accepted'], ['Rejected', 'rejected']], include_blank: true
    = f.input :level_1, label: 'Level 1 Description'
    = f.input :level_2, label: 'Level 2 Description'
    = f.input :level_3, label: 'Level 3 Description'
    = f.input :level_4, label: 'Level 4 Description'
    = f.input :level_5, label: 'Level 5 Description'
    = f.input :level_6, label: 'Level 6 Description'
    = f.input :level_7, label: 'Level 7 Description'
    = f.input :level_8, label: 'Level 8 Description'
    = f.input :level_9, label: 'Level 9 Description'

  .form-actions
    = f.button :submit
