= simple_form_for(@badge) do |f|
  = f.error_notification

  - values = [['Draft', 'draft'], ['Proposed', 'proposed'], ['Accepted', 'accepted']]
  .form-inputs
    .row
      .large-3.small-3.columns= f.association :proposer, label_method: :short, include_blank: true
    %hr
    .row
      - if params[:template_id]
        .large-6.small-6.columns= f.input :name, label: 'Badge Name'
        .large-3.small-6.columns= f.input :focus, autofocus: true
      - else
        .large-6.small-6.columns= f.input :name, label: 'Badge Name', autofocus: true
        .large-3.small-6.columns= f.input :focus
      - if librarian_or_admin?
        .large-3.small-6.columns.admin-only= f.input :status, collection: values, include_blank: true
    .row
      .large-9.small-12.columns= f.input :description, label: 'Basic Badge Description', input_html: {rows: 5}
      .large-3.small-12.columns= f.input :proposal_date
    .row
      .large-4.small-12.columns= f.input :level_1, label: 'Level 1 Description', input_html: {rows: 4}
      .large-4.small-12.columns= f.input :level_2, label: 'Level 2 Description', input_html: {rows: 4}
      .large-4.small-12.columns= f.input :level_3, label: 'Level 3 Description', input_html: {rows: 4}
    .row
      .large-4.small-12.columns= f.input :level_4, label: 'Level 4 Description', input_html: {rows: 4}
      .large-4.small-12.columns= f.input :level_5, label: 'Level 5 Description', input_html: {rows: 4}
      .large-4.small-12.columns= f.input :level_6, label: 'Level 6 Description', input_html: {rows: 4}
    .row
      .large-4.small-12.columns= f.input :level_7, label: 'Level 7 Description', input_html: {rows: 4}
      .large-4.small-12.columns= f.input :level_8, label: 'Level 8 Description', input_html: {rows: 4}
      .large-4.small-12.columns= f.input :level_9, label: 'Level 9 Description', input_html: {rows: 4}

  .form-actions
    = f.button :submit
