%h3
  HolacracyOne Badge Library

%h5
  = link_to('All', badges_path) + ' | '
  = link_to('Accepted', badges_path(status: 'accepted')) + ' | '
  = link_to('Proposed', badges_path(status: 'proposed')) + ' | '
  = link_to('Draft', badges_path(status: 'draft'))

%table
  %tr
    %th
    %th Badge Name
    %th Status
    %th
  = render @accepted if params[:status].nil? || params[:status] == 'accepted'
  = render @proposed if params[:status].nil? || params[:status] == 'proposed'
  = render @draft if params[:status].nil? || params[:status] == 'draft'

%button= link_to 'Detailed View', detailed_badges_path
- if librarian_or_admin?
  %button= link_to 'Add New Badge', new_badge_path
- else
  %button= link_to 'Propose New Badge', new_badge_path