%h3
  - if params[:status] == 'accepted'
    HolacracyOne Badge Library
  - else
    HolacracyOne Badges

%h5
  - if params[:group]
    .badge-group= link_to 'All', badges_path(group: nil, status: params[:status])
    - Badge.groups.each do |g|
      .badge-group= link_to g.capitalize, badges_path(status: params[:status], group: g)

%h5
  = link_to('All', badges_path(group: params[:group]))
  - if !params[:status]
    %span.bubble= @badges.count
  - else
    = link_to @badges.count, badges_path(status: nil, group: params[:group])
  \|
  - if params[:status] == 'accepted'
    %span.bubble= @accepted.count
  - else
    = link_to @accepted.count, badges_path(status: 'accepted', group: params[:group])
  = link_to('Accepted', badges_path(status: 'accepted', group: params[:group])) + ' | '
  - if params[:status] == 'proposed'
    %span.bubble= @proposed.count
  - else
    = link_to @proposed.count, badges_path(status: 'proposed', group: params[:group])
  = link_to('Proposed', badges_path(status: 'proposed', group: params[:group])) + ' | '
  - if params[:status] == 'draft'
    %span.bubble= link_to @draft.count, badges_path(status: 'draft', group: params[:group])
  - else
    = link_to @draft.count, badges_path(status: 'draft', group: params[:group])
  = link_to('Draft', badges_path(status: 'draft', group: params[:group]))

%table#badges-table.compact
  %thead
    %tr
      %th.nosort
      %th Badge Name
      %th Status
      %th Proposer
      %th Date
      / %th
      - if librarian_or_admin?
        %th 
          %span.admin-only Group
      %th.nosort
  %tbody
    = render @badges if !params[:status]
    = render @accepted if params[:status] == 'accepted'
    = render @proposed if params[:status] == 'proposed'
    = render @draft if params[:status] == 'draft'

%button= link_to 'Detailed View', detailed_badges_path
/ - if params[:group]
/   %button= link_to 'Hide Groups', badges_path(status: params[:status])
/ - else
/   %button= link_to 'Show Groups', badges_path(group: 'none', status: params[:status])
- if librarian_or_admin?
  %button= link_to 'Add New Badge', new_badge_path
- else
  %button= link_to 'Propose New Badge', new_badge_path