%h3
  HolacracyOne Badge Library

%h5
  = link_to('All', badges_path) + ' | '
  = link_to('Accepted', badges_path(status: 'accepted')) + ' | '
  = link_to('Proposed', badges_path(status: 'proposed')) + ' | '
  = link_to('Draft', badges_path(status: 'draft'))
  %button= link_to 'Propose New Badge', new_badge_path

%h5.small-2.large-2.columns Status
%h5.small-10.large-10.columns Badge Name

%p= render partial: 'badges/badge', collection: @accepted if params[:status].nil? || params[:status] == 'accepted'

%p= render partial: 'badges/badge', collection: @proposed if params[:status].nil? || params[:status] == 'proposed'

%p= render partial: 'badges/badge', collection: @draft if params[:status].nil? || params[:status] == 'draft'

- if params[:status].nil? || params[:status] == 'accepted'
  %p
    %hr
    .row
    %h3 Accepted Badges
    - @accepted.each do |badge|
      = render 'detailed_badge', badge: badge

- if params[:status].nil? || params[:status] == 'proposed'
  %p
    %hr
    .row
    %h3 Proposed Badges
    - @proposed.each do |badge|
      = render 'detailed_badge', badge: badge

- if params[:status].nil? || params[:status] == 'draft'
  %p
    %hr
    .row
    %h3 Draft Badges
    - @draft.each do |badge|
      = render 'detailed_badge', badge: badge
