%p.large-12.medium-12
  %h2= "#{@badge.name_with_focus} Badge"
  .row
    %strong.large-2.columns.text-right Status
    .large-10.columns= "#{@badge.status.capitalize} as of #{@badge.relevant_date.strftime('%b-%d')}"
    .large-4.columns
  .row
    %strong.large-2.medium-2.small-2.columns.text-right Proposer
    .large-6.medium-6.small-6.columns= @badge.proposer.try(:name)
    .large-4.medium-4.small-4.columns
  - if user_signed_in?
    .row
      %strong.large-2.columns.text-right
        = @badge.current_holders.count
        Current Holders
      .large-6.columns= @badge.current_holder_names
      .large-4.columns
  .row
    %strong.large-2.columns.text-right Description
    .large-6.columns.box= @badge.description
    .large-4.columns
  - if @badge.mechanism && @badge.mechanism != ''
    .row
      %strong.large-2.columns.text-right Mechanism
      .large-6.columns.box= @badge.mechanism
      .large-4.columns
  - if @badge.comments && @badge.comments != ''
    .row
      %strong.large-2.columns.text-right Comments
      .large-6.columns.box= @badge.comments
      .large-4.columns
  - if @badge.url
    .row
      %strong.large-2.columns.text-right Supporting URL
      .large-6.columns= link_to @badge.url, @badge.url
      .large-4.columns
  .space-20
  .row
    %strong.large-2.columns.text-right Objections
    .large-6.columns= render 'objections'
    .large-4.columns

%br
%hr
.medium-4.large-4.columns
  .badge33
    %b Level 1:
    = @badge.level_1
.medium-4.large-4.columns
  .badge33
    %b Level 2:
    = @badge.level_2
.medium-4.large-4.columns
  .badge33
    %b Level 3:
    = @badge.level_3
%br
%hr
.medium-4.large-4.columns
  .badge33
    %b Level 4:
    = @badge.level_4
.medium-4.large-4.columns
  .badge33
    %b Level 5:
    = @badge.level_5
.medium-4.large-4.columns
  .badge33
    %b Level 6:
    = @badge.level_6
%br
%hr
.medium-4.large-4.columns
  .badge33
    %b Level 7:
    = @badge.level_7
.medium-4.large-4.columns
  .badge33
    %b Level 8:
    = @badge.level_8
.medium-4.large-4.columns
  .badge33
    %b Level 9:
    = @badge.level_9
%br
%hr

%button= link_to 'All Badges', badges_path
= render 'actions', badge: @badge