= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    .large-4.medium-4.small-6.columns= f.input :name
    .large-4.medium-4.small-6.columns= f.input :short
    .large-4.medium-4.small-6.columns= f.input :glassfrog_id, label: 'GlassFrog person id'
    %div
    .large-4.medium-4.small-6.columns= f.association :badge_set, label_method: :name_and_comp_tier
    .large-4.medium-4.small-6.columns= f.input :legacy_p_unit_grant, label: 'Legacy P Unit Grant'
    .large-4.medium-4.small-6.columns= f.input :focus_time, label: '% Focus Time'
    = f.input :bootstrapper?
    = f.input :comp_admin?
    = f.input :librarian?

  .form-actions
    = f.button :submit, 'Save User'
