%h3 HolacracyOne Badge Holders

%table#holders-grid
  %thead
    %tr
      %th
      - @users.each do |user|
        %th
          .text-center.min-width= link_to image_tag(user.gravatar(36)), user
          .text-center.min-width= link_to user.try(:short), user
  %tbody
    - @badges.each do |badge|
      %tr.stripe
        %td
          .badge-name= link_to(badge.name_with_focus, badge)
        - @users.each do |user|
          - text = user.badge_level(badge)
          - if text && text == 'NEV'
            %td.text-center= link_to image_tag('hourglass.png'), user.nomination(badge), class: 'no-hover'
          - elsif text && text == true
            %td.text-center= link_to image_tag('checkmark.png'), user.nomination(badge), class: 'no-hover'
          - elsif text
            %td.text-center= link_to text, user.nomination(badge)
          - else
            %td.text-center= link_to '+', new_badge_nomination_path(badge_id: badge.id, user_id: user.id), class: 'green-light'

.legend
  = image_tag('checkmark.png')
  \= No-levels badge granted
.legend
  = image_tag('hourglass.png')
  \= Not enough votes
.legend
  = image_tag('warning.png')
  \= Please bring to Compensation Administrator's attention
