%h1 Listing badge_levels

%table
  %thead
    %tr
      %th Badge
      %th Level
      %th Description
      %th
      %th
      %th

  %tbody
    - @badge_levels.each do |badge_level|
      %tr
        %td= badge_level.badge_id
        %td= badge_level.level_id
        %td= badge_level.description
        %td= link_to 'Show', badge_level
        %td= link_to 'Edit', edit_badge_level_path(badge_level)
        %td= link_to 'Destroy', badge_level, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Badge level', new_badge_level_path
