%tr
  %td.green= link_to 'Validate...', new_nomination_vote_path(badge_nomination_id: badge_nomination.id)
  %td= link_to badge_nomination.user.try(:name), badge_nomination.user ||= 'n/a'
  %td= badge_nomination.level_nominated ? "for level #{badge_nomination.level_nominated}" : 'for'
  %td= badge_nomination.badge ? link_to(badge_nomination.badge.name_with_focus, badge_nomination.badge) : '(Badge Missing)'
  %td= badge_nomination.status.capitalize ||= 'n/a'
  %td= badge_nomination.current_level ||= 'n/a'
  %td
    %span.green= link_to 'View', badge_nomination
    - if librarian_or_admin?
      %span.green.admin-only= link_to 'Edit', edit_badge_nomination_path(badge_nomination, badge_id: badge_nomination.badge.try(:id))
      %span.green.admin-only= link_to 'Destroy', badge_nomination, method: :delete, data: { confirm: 'Are you sure you want to permanently delete this nomination?' }
  %td
    - if librarian_or_admin? && badge_nomination.validators.count > 0
      by
      %span.admin-only= badge_nomination.validators.map(&:short).join(', ')
    - else
      = "#{badge_nomination.validators.count} times"