.large-1.medium-1.columns= badge_nomination.id
.large-2.medium-2.columns= badge_nomination.badge ? badge_nomination.badge.name : 'No badge'
.large-2.medium-2.columns= link_to badge_nomination.user.try(:name), badge_nomination.user ||= 'n/a'
.large-1.medium-1.columns= "Level #{badge_nomination.level_nominated}"
.large-1.medium-1.columns= badge_nomination.status ||= 'n/a'
.large-1.medium-1.columns= "Level #{badge_nomination.level_granted}"
.large-1.medium-1.columns= badge_nomination.created_at.strftime('%b-%d')
.large-1.medium-1.columns= link_to 'Edit', edit_badge_nomination_path(badge_nomination)
- if user_signed_in? && (current_user.is_admin? || current_user.is_librarian?)
  .large-1.medium-1.columns= link_to 'Destroy', badge_nomination, method: :delete, data: { confirm: 'Are you sure you want to permanently delete this nomination?' }
%br
