= simple_form_for(@badge_nomination) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user, label: 'Nominee'
    = f.association :badge, collection: Badge.accepted.order(:name)
    = f.input :level, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    - if current_user.try(:is_librarian?) || current_user.try(:is_admin?)
      = f.input :status, collection: [['Pending', 'pending'], ['Accepted', 'accepted'], ['Expired', 'expired']]
    - else
      = f.input :status, collection: [['Pending', 'pending']]      

  .form-actions
    = f.button :submit, 'Create/Update Badge Nomination'
