= simple_form_for(@badge_nomination) do |f|
  = f.error_notification

  .form-inputs
    #user_id= f.association :user, label: 'Nominee'
    #badge_id= f.association :badge, collection: Badge.accepted.order(:name) unless params[:badge_id]
    #level= f.input :level_nominated, collection: @badge.detailed_levels
    - if current_user.try(:is_librarian?) || current_user.try(:is_admin?)
      %div.admin-only
        = f.input :status, collection: [['Pending', 'pending'], ['Accepted', 'accepted'], ['Expired', 'expired']]
        = f.input :level_granted, collection: (1..9)
    - else
      = f.input :status, collection: [['Pending', 'pending']]      

  .form-actions
    = f.button :submit, 'Create/Update Badge Nomination'
