= simple_form_for(@badge_nomination) do |f|
  = f.error_notification

  %div
  .form-inputs
    - if librarian_or_admin? || @badge_nomination.persisted?
      #user_id.large-3.small-3.columns
        = f.association :nominator, collection: @users, label_method: :short, include_blank: true
    - else
      #user_id.large-3.small-3.columns
        = f.association :nominator, collection: @users, label_method: :short, selected: @nominator.try(:id)
    .large-9.small.6.columns
      Description for
      %strong= link_to @badge.try(:name_with_focus), @badge
      %br
      = @badge.try(:description)
    %hr
    .large-3.small-3.columns
      #user_id= f.association :user, label: 'Nominee'
      - if params[:badge_id]
        = f.hidden_field :badge_id, value: params[:badge_id]
      - else
        #badge_id= f.association :badge, collection: Badge.accepted.order(:name), label_method: :name_with_focus
    .large-9.small-12.columns= f.input :evidence, label: 'Evidence and examples for this nomination', input_html: {rows: 5}
    %hr
    - if @badge.try(:has_levels?)
      Level: I have repeatedly demonstrated that…
      #level.box= f.input :level_nominated, collection: @badge.try(:detailed_levels), label: false, as: :radio_buttons, input_html: { class: 'radio-input' }
    - else
      #level= f.input :level_nominated, disabled: true, label: 'This badge has no levels.'
    %hr
    - if librarian_or_admin?
      %div.admin-only
        .large-3.small-6.columns.admin-only= f.input :status, collection: [['Pending', 'pending'], ['Accepted', 'accepted'], ['Expired', 'expired']]
        - if @badge.try(:has_levels?)
          .large-3.small-6.columns.admin-only= f.input :level_granted, collection: @badge.try(:detailed_levels)
        - else
          .large-3.small-6.columns.admin-only= f.input :level_granted, disabled: true, label: 'This badge has no levels.'
        .large-4.small-6.columns.admin-only= f.input :effective_date, include_blank: true
        .large-2.small-6.columns
    - else
      .large-3.small-3.columns= f.input :status, collection: [['Pending', 'pending']]      
    %hr

  .form-actions
    = f.button :submit, 'Nominate'
