%h3 Badge Nominations

%h5
  = link_to 'All', badge_nominations_path
  - if !params[:status]
    %span.bubble= @badge_nominations.count
  \|
  - if params[:status] == 'mine'
    %span.bubble= @badge_nominations.count
  = link_to 'Mine', badge_nominations_path(status: 'mine')
  \|
  - if params[:status] == 'pending'
    %span.bubble= @badge_nominations.count
  = link_to 'Pending', badge_nominations_path(status: 'pending')
  \|
  - if params[:status] == 'waiting'
    %span.bubble= @badge_nominations.count
  = link_to 'Waiting On My Validation', badge_nominations_path(status: 'waiting')
  \|
  - if params[:status] == 'accepted'
    %span.bubble= @badge_nominations.count
  = link_to 'Accepted', badge_nominations_path(status: 'accepted')

%table
  %tr
    %th
    %th Nominee
    %th
    %th Badge
    %th Status
    %th Level
    %th Actions
    %th Validated/Bootstrapped
  = render @badge_nominations
