%p.large-12.medium-12
  %h3
    Nomination:
    = @badge_nomination.name_for_badge
  .row
    %strong.large-3.columns.text-right Nominated by
    .large-6.columns
      = @badge_nomination.nominator.try(:name)
      = "(at level #{@badge_nomination.level_nominated})"
    .large-3.columns
  .row
    %strong.large-3.columns.text-right Current Level
    .large-6.columns= @badge_nomination.current_level
    .large-3.columns

    .large-3.columns
  - if @badge_nomination.evidence && @badge_nomination.evidence != ''
    .row
      %strong.large-3.columns.text-right Evidence
      .large-6.columns.box= @badge_nomination.evidence
      .large-3.columns

- if librarian_or_admin?
  .admin-only
    .row
      %strong.large-3.columns.text-right Level Voted
      .large-6.columns= @badge_nomination.level_voted
      .large-3.columns
    .row
      %strong.large-3.columns.text-right Level Bootstrapped
      .large-6.columns= @badge_nomination.level_bootstrapped
      .large-3.columns
    .row
      %strong.large-3.columns.text-right Grant Status
      - if @badge_nomination.status == 'accepted'
        .large-6.columns= "Accepted at level #{@badge_nomination.level_granted}"
      - else
        .large-6.columns Pending, i.e. voting takes over
      .large-3.columns
    %button= link_to 'Add Validation', new_nomination_vote_path(badge_nomination_id: @badge_nomination.id)
    - if @validations.count > 0
      %h4 Validations
      = render @validations
      %hr

  %p
  .admin-only
    %button= link_to 'Edit Nomination', edit_badge_nomination_path(@badge_nomination)
    %button= link_to 'Destroy Nomination', @badge_nomination, method: :delete, data: { confirm: 'Are you sure you want to permanently delete this nomination?' }
- else
  %button= link_to 'All Nominations', badge_nominations_path(status: 'waiting')
  %button= link_to 'Add Your Validation', new_nomination_vote_path(badge_nomination_id: @badge_nomination.id)
