%p
  .large-2.columns
    %h5 Badge Nomination
    %strong= @badge_nomination.user.name
    %br &nbsp;&nbsp;for
    %strong= @badge_nomination.badge.name
    - if @badge_nomination.current_level && @badge_nomination.current_level != ''
      %br &nbsp;&nbsp;at level
      %strong= @badge_nomination.current_level
  .large-1.columns
    %h5 Status
    %p
      = @badge_nomination.status.capitalize
      %br
      &nbsp;&nbsp;at level 
      = @badge_nomination.level_granted

  .large-6.columns
    %h5 Evidence
    %p= @badge_nomination.evidence
  %br
  %br
  %br
  %br
  %br
  %hr

- if librarian_or_admin?
  %h5.admin-only Validations
  .admin-only= render @validations
  %hr

  .admin-only
    = link_to 'Edit', edit_badge_nomination_path(@badge_nomination)
    \|
    = link_to 'Add Your Validation', new_nomination_vote_path(badge_nomination_id: @badge_nomination.id)
- else
  = link_to 'Add Your Validation', new_nomination_vote_path(badge_nomination_id: @badge_nomination.id)