= simple_form_for(@nomination_vote) do |f|
  = f.error_notification

  .form-inputs
    = f.association :badge_nomination, collection: BadgeNomination.pending, label_method: :who_for_what, label: 'Badge Nomination'
    = f.association :voter, include_blank: true
    = f.input :level, collection: (1..9)
    = f.input :comment

  .form-actions
    = f.button :submit, 'Vote'
