- content_for :title, 'Validate'

= simple_form_for(@nomination_vote) do |f|
  = f.error_notification

  .form-inputs
    .large-3.small-6.columns= f.association :validator, label_method: :short, include_blank: true, label: 'Validator or Bootstrapper'
    .large-9.small-6.columns.underline-links
      Only validations by
      = link_to 'current badge holders', @badge, title: @badge.try(:current_holder_names)
      or
      = link_to 'bootstrappers', 'https://glassfrog.holacracy.org/roles/81842', title: User.bootstrappers
      will be counted.
    .large-3
    %hr
      
    .large-4.small-6.columns= f.association :badge_nomination, collection: @badge_nominations, label_method: :short_name_for_badge_level, label: 'Pending Badge Nomination', selected: params[:badge_nomination_id]
    - unless @badge_nomination.evidence == ''
      .large-8.small-6.columns
        %strong Evidence submitted:
        %br
        = @badge_nomination.evidence 
    %hr
    - if @badge.has_levels?
      .large-4.small-6.columns= f.input :level, collection: @badge.detailed_levels, label: 'Level you are validating/bootstrapping at'
    - else
      .large-4.small-6.columns= f.input :level, disabled: true, label: 'This badge has no levels.'
    .large-8.small-6.columns= f.input :comment, input_html: {rows: 3}

    %hr
    .form-actions
      = f.button :submit, 'Validate'
