- content_for :title, 'Validate'

= simple_form_for(@nomination_vote) do |f|
  = f.error_notification

  .form-inputs
    - if librarian_or_admin? || @nomination_vote.persisted?
      .large-3.small-6.columns= f.association :validator, label_method: :short, include_blank: true, label: 'Validator or Bootstrapper'
    - else
      .large-3.small-6.columns= f.association :validator, label_method: :short, selected: current_user.try(:id), label: 'Validator or Bootstrapper'
    .large-9.small-6.columns.underline-links
      Only validations by
      = link_to 'current badge holders', @badge, title: @badge.try(:current_holder_names)
      or
      = link_to 'bootstrappers', 'https://glassfrog.holacracy.org/roles/81842', title: User.bootstrappers
      will be counted.
    .large-3
    %hr
      
    .large-4.small-6.columns= f.association :badge_nomination, collection: @badge_nominations, label_method: :short_name_for_badge_level, label: 'Pending Badge Nomination', selected: params[:badge_nomination_id]
    .large-4.small-6.columns= f.input :comment, input_html: {rows: 3}
    - unless @badge_nomination.evidence == ''
      .large-4.small-6.columns
        %strong Evidence submitted:
        %br
        = @badge_nomination.evidence
    %hri
    - if @badge && @badge.try(:has_levels?)
      .box= f.input :level, collection: [['0: None', 0]] + @badge.detailed_levels, label: 'Level: I have repeatedly demonstrated that…', as: :radio_buttons, input_html: { class: 'radio-input' }
    - else
      = f.input :level, disabled: true, label: 'This badge has no levels.'

    %hr
    .form-actions
      = f.button :submit, 'Validate'

%button= link_to 'View Nomination', @badge_nomination
