level
= nomination_vote.level
—
= nomination_vote.validator.name
= "(on #{nomination_vote.created_at.strftime('%b-%d')})"
= '—' if nomination_vote.comment && nomination_vote.comment != ''
= nomination_vote.comment
= "–"
= link_to 'Destroy Validation', nomination_vote, method: :delete, data: { confirm: 'Are you sure you want to delete this Validation?' }
%br