level
= nomination_vote.level
— by
%span.blue= "Holder" if nomination_vote.validator.has_badge(nomination_vote.badge_nomination.badge)
%span.red= "Bootstrapper" if nomination_vote.validator.bootstrapper?
= nomination_vote.validator.name
= "(on #{nomination_vote.created_at.strftime('%b-%d')})"
= '—' if nomination_vote.comment && nomination_vote.comment != ''
= nomination_vote.comment
= "–"
%span.green= link_to 'Edit', edit_nomination_vote_path(nomination_vote)
\|
%span.green= link_to 'Destroy Validation', nomination_vote, method: :delete, data: { confirm: 'Are you sure you want to delete this Validation?' }
%br