level
= nomination_vote.level
—
= nomination_vote.voter.name
= "(on #{nomination_vote.created_at.strftime('%b-%d')})"
= '—' if nomination_vote.comment && nomination_vote.comment != ''
= nomination_vote.comment
%br