%h1 Nomination Votes

%table
  %thead
    %tr
      %th Badge Nomination
      %th Voter
      %th Level
      %th Comment
      %th
      %th
      %th

  %tbody
    - @nomination_votes.each do |nomination_vote|
      %tr
        %td= nomination_vote.badge_nomination.who_for_what
        %td= nomination_vote.voter.name
        %td= nomination_vote.level
        %td= nomination_vote.comment
        %td= link_to 'Show', nomination_vote
        %td= link_to 'Edit', edit_nomination_vote_path(nomination_vote)
        %td= link_to 'Destroy', nomination_vote, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Nomination Vote', new_nomination_vote_path
