= simple_form_for(@role) do |f|
  = f.error_notification

  .form-inputs
    .large-3.medium-3.small-4.columns= f.association :circle, label: 'Super Circle'
    .large-3.medium-3.small-4.columns= f.input :name
    .large-3.medium-3.small-4.columns= f.association :filler
    .large-3.medium-3.small-4.columns= f.input :points

  %hr
  .form-actions
    = f.button :submit
