%h1 Roles and Attention Points

1 AP = 30 minutes/week
%br
100% focus = 80 APs/week

.adjacent-tables-wrapper
  .adjacent-table
    %table#roles-table.compact.large-7.small-12.columns
      %thead
        %tr
          %th Role Name
          %th In Circle
          %th Pts
          %th Alloc
          %th Left
          %th Filler
          %th
          %th
          %th
      %tbody
        - @roles.each do |role|
          %tr
            %td= link_to role.name, role
            %td= role.circle.try(:name)
            %td= role.points
            %td= role.delegated
            %td= role.controlled
            %td= role.filler.try(:short)
            %td= link_to 'Refill', assign_role_path(role, User.random), title: 'Assign Randomly to one of 5 users'
            %td= link_to 'Edit', edit_role_path(role)
            %td= link_to 'Destroy', role, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %button= link_to 'Create New Role', new_role_path
  .width-30
  .adjacent-table
    %table#fillers-table.compact.large-5.small-12.columns
      %thead
        %tr
          %th User Name
          %th Roles
          %th Pts
          %th % Focus
      %tbody
        - if @users
          - @users.each do |user|
            %tr
              %td= user.short
              %td= user.roles.map(&:name).join(', ')
              %td= user.attention_points
              %td.text-right= number_to_percentage(user.percent_focus * 100, precision: 1)
