%p#notice= notice

%p
  %b Name:
  = @role.name
  %b (Circle:
  = @role.circle.try(:name)
  %b )
%p
  %b Points:
  = @role.points
%p

= render @subroles

%hr

= link_to 'Edit', edit_role_path(@role)
\|
= link_to 'Back', roles_path
