%li= link_to 'Propose Badge', new_badge_path if user_signed_in?
%li= link_to 'Grant Badge', new_user_badge_path if current_user.try(:is_librarian?) || current_user.try(:is_admin?)
%li= link_to 'See All Badges', badges_path
%li= link_to 'See All Users', users_path
- if user_signed_in?
  %li= link_to "Sign out (#{current_user.try(:role)}) #{current_user.try(:name)}", signout_path
- else
  %li= link_to 'Sign in with your H1 Gmail', signin_path
%li= link_to 'About', about_path
